<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>大致比较BP/Elman神经网络</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<form class="form-inline">

    <div class="form-group">
        <!-- Select Basic -->
        <label class="control-label">地点：</label>
        <div class="controls">
            <select class="input-xlarge">
                <option>火车东站</option>
                <option>此处设置为动态添加</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <!-- Select Basic -->
        <label class="control-label">评判标准</label>
        <div class="controls">
            <select class="input-xlarge">
                <option>accuracy</option>
                <option>loss</option>
            </select>
        </div>

    </div>
    <!-- Button -->
    <button type="submit" class="btn btn-success">确定</button>

</form>

<label class="label-info">BP信息</label>
<h1 id="bp">BP</h1>
<label class="label-info">ELMAN信息</label>
<h1 id="elman">Elman</h1>
 <a class="btn btn-success">跳转到下一页</a>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
</body>
</html>